/* {
	outline: 1px solid red;
}
*/

body {
	background:black;
}



/*#logo {
	 background-image: url('../images/streetfighterlogo.png');
	 width:100px;
	 height:50px;
	 position:absolute;
	 top:0px;
	 left:0px;
}*/

.main {
	
	position:absolute;
	top:110px;
	padding-left: 100px;
	min-width: 1900px;
	height: 494px;
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,247,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(194,247,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,247,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,247,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(194,247,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(194,247,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2f7ff', GradientType=0 );
}

.ryu {
	position:absolute;
	left:100px;
	/*background-color:#f3f315;*/
	width: 659px;
	height: 494px;

}

.still, .ready, .throwing, .cool {
	width: 659px;
	height: 494px;
}

.ready, .throwing, .cool {
	display:none;
}

.ready {
	background-image: url('../images/ryu-ready-position.gif');
	/*background-color:#33FF00;*/
}

.still {
  background-image: url('../images/ryu-standing-still.png');
  /*background-color:	#CC66FF;*/
 
}

.throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  /*background-color:blue;*/
}

.cool {
	background-image: url('../images/ryu-cool.gif');
	
}

.hadouken, .ready, .still, .throwing, .cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: 420px;
  float: left;

}
#textcontainer {
	/*border:1px pink solid;*/
	position:absolute;
	left: 420px;
	top:28px;
	font-size:21px;
	color:white;
	font-style:italic;
	font-family:trebuchet ms;
	line-height:1.2;
	height:50px;
	width:550px;
}

/*#textbox1 {
	border:pink 2px solid;
	margin:18px;
	padding:2px;
	font-style:Times;
	font-size:18px;
	text-align:center;
	font-style:italic;
	
	background-color:white;
	width:340px;
	height:40px;
	line-height:1;
	position:absolute;
	
	left:820px;
	top:12px;

}

#textbox2 {
	border:black 2px solid;
	margin:18px;
	padding:2px;
	font-style:Times;
	font-size:188px;
	text-align:center;
	font-style:italic;
	
	background-color:white;
	width:340px;
	height:40px;
	line-height:1;
	position:absolute;
	left:460px;
	top:12px;

}*/

span {
	font-size:18px;
}
#logo {
	color:white;
	border:1px solid white;
	height:58px;
	width:280px;
	
	padding:8px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	left:80px;
	top:16px;
	font-size:28px;
	font-family:trebuchet ms;
	
	/*background-image:url('..images/20121127171305!Street_Fighter_Logo.png');*/
}


#topper {
	display:inline;
	
}